# Переменные окружения для docker-compose

FRONTEND_IPV4_NETWORK=172.22.1.0/24
FRONTEND_IPV6_NETWORK=fd4d:6169:6c63:6f76::/64

BACKEND_IPV4_NETWORK=172.22.2.0/24
BACKEND_IPV6_NETWORK=fd4d:6169:6c63:6f77::/64

MGMT_IPV4_NETWORK=172.22.3.0/24
MGMT_IPV6_NETWORK=fd4d:6169:6c63:6f78::/64

CERT_DIR=/etc/letsencrypt/live/it-bookshelf.ru
DH_PARAMS=/etc/letsencrypt/ssl-dhparams.pem

NGINX_CONFIG=./config/nginx/frontend.conf
BIND_HOST=0.0.0.0
BIND_PORT_HTTP=80
BIND_PORT_HTTPS=443

BASE_URL=https://it-bookshelf.ru

PG_ADMIN_NGINX_CONFIG=./config/nginx/pgadmin.conf